In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import glob
import math

In [2]:
cd Data

/Users/rafa/Desktop/Football/LigaNOS/Data

In [3]:
### Import all *csv files and save them in a list
all_files = [i for i in glob.glob('*.{}'.format('csv'))]

### Sort the list (of strings) 
all_files = sorted(all_files)

### Change the tipe of 'all_files' as list of str, to list of csv files 
data_frames = [pd.read_csv(i) for i in all_files]

### Correct the name of the column
for i in data_frames:
    i.rename( columns={'Unnamed: 2':'Nome'}, inplace=True )
    i.rename( columns={'Unnamed: 0':'Pos'}, inplace=True )
    
    
data_frames[0]

   Pos  Unnamed: 1           Nome   P   J   V  E   D  GM  GS  DG Unnamed: 11
0    1         NaN       FC Porto  22  14  10  2   2  43  19  24           a
1    2         NaN       Sporting  20  14   8  4   2  39  20  19           a
2    3         NaN        Benfica  19  14   8  3   3  41  23  18           a
3    4         NaN     Belenenses  18  14   8  2   4  45  20  25           a
4    5         NaN     V. Setúbal  16  14   7  2   5  26  24   2           a
5    6         NaN   União Lisboa   8  14   3  2   9  30  49 -19           a
6    7         NaN   Académico FC   6  14   2  2  10  20  54 -34           a
7    8         NaN  Académica OAF   3  14   1  1  12  14  49 -35           a

In [4]:
### Drop columns that we don't need
n_Lines, n_Columns = data_frames[0].shape

for i in range(len(data_frames)):
    data_frames[i].drop(['Unnamed: 1','P','J','GM','V','E','D','GS','Unnamed: 11', 'DG'], axis=1, inplace=True )

In [5]:
data_frames[0]

   Pos           Nome
0    1       FC Porto
1    2       Sporting
2    3        Benfica
3    4     Belenenses
4    5     V. Setúbal
5    6   União Lisboa
6    7   Académico FC
7    8  Académica OAF

In [6]:
### We have a list with all the seasons name in the variable all_files
seasons = []

for i in range(len(all_files)):
    seasons.append(all_files[i].replace('.csv','').replace(':','/'))

In [7]:
### We have to change in each data frame the name of the column 'M' with the correspondent season
for i in range(len(data_frames)):
    data_frames[i].rename( columns={'Pos': seasons[i] }, inplace=True )
    
for i in range(len(data_frames)):
    ano = data_frames[i].keys()[0]
    data_frames[i] = data_frames[i][['Nome',ano]]

data_frames[3]

            Nome  1937/38
0        Benfica        1
1       FC Porto        2
2       Sporting        3
3  Carcavelinhos        4
4     Belenenses        5
5  Académica OAF        6
6    Barreirense        7
7   Académico FC        8

In [8]:
### Merge all csv files of 'data_frames'
df_merged = reduce(lambda  left,right: pd.merge(left,right,how='outer', on='Nome'), data_frames)

### Save the row/keys
fst_row = df_merged.keys()

In [9]:

df_merged

,Nome,1934/35,1935/36,1936/37,1937/38,1938/39,1939/40,1940/41,1941/42,1942/43,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,FC Porto,1.0,2.0,4.0,2.0,1.0,1.0,2.0,4.0,7.0,...,1.0,1.0,1.0,3.0,2.0,3.0,2.0,1.0,2.0,1.0
1,Sporting,2.0,3.0,3.0,3.0,2.0,2.0,1.0,2.0,2.0,...,3.0,4.0,7.0,2.0,3.0,2.0,3.0,3.0,3.0,4.0
2,Benfica,3.0,1.0,1.0,1.0,3.0,4.0,4.0,1.0,1.0,...,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0
3,Belenenses,4.0,4.0,2.0,5.0,4.0,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,14.0,6.0,9.0,14.0,12.0,NaN,NaN
4,V. Setúbal,5.0,5.0,7.0,NaN,NaN,10.0,NaN,NaN,NaN,...,12.0,11.0,12.0,7.0,14.0,15.0,12.0,14.0,13.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Naval,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Trofense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,FC Arouca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.0,16.0,5.0,17.0,NaN,NaN,NaN
71,CD Tondela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.0,16.0,11.0,15.0,14.0
72,Belenenses SAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,15.0

In [10]:
### Change the type of df_merged to a numpy array
df_merged_Numpy = pd.DataFrame(df_merged).to_numpy()

### Do the same to the row of keys
fst_row_Numpy = pd.DataFrame(fst_row).to_numpy()

In [11]:
### Self explanatory
n_Columns = len(df_merged_Numpy[0])
n_Rows = len(df_merged_Numpy)

In [12]:
### Remove nan & cast float to int
    ### To make this exercice it's better to change the Nan's to math.inf
for i in range(n_Rows):
    for j in range(1,n_Columns):
        if math.isnan(float(df_merged_Numpy[i][j])):
            df_merged_Numpy[i][j] = math.inf
            # Since I'm using Flourish, it's better for me to change
        else: 
            df_merged_Numpy[i][j] = int(df_merged_Numpy[i][j])

In [13]:
### Here we add the first row saved with the previous calculated np.array(df_merged) 
df_merged_Numpy_With_Keys = np.vstack([fst_row, df_merged_Numpy])

### In this step we obtain the result we want.
df_final = pd.DataFrame(data=df_merged_Numpy_With_Keys[1:,1:],    # values
            index=df_merged_Numpy_With_Keys[1:,0],    # 1st column as index
            columns=df_merged_Numpy_With_Keys[0,1:])  # 1st row as the column names

df_final

,1934/35,1935/36,1936/37,1937/38,1938/39,1939/40,1940/41,1941/42,1942/43,1943/44,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
FC Porto,1,2,4,2,1,1,2,4,7,4,...,1,1,1,3,2,3,2,1,2,1
Sporting,2,3,3,3,2,2,1,2,2,1,...,3,4,7,2,3,2,3,3,3,4
Benfica,3,1,1,1,3,4,4,1,1,2,...,2,2,2,1,1,1,1,2,1,2
Belenenses,4,4,2,5,4,3,3,3,3,6,...,inf,inf,inf,14,6,9,14,12,inf,inf
V. Setúbal,5,5,7,inf,inf,10,inf,inf,inf,7,...,12,11,12,7,14,15,12,14,13,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Naval,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,16,inf,inf,inf,inf,inf,inf,inf,inf,inf
Trofense,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
FC Arouca,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,12,16,5,17,inf,inf,inf
CD Tondela,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,16,16,11,15,14
Belenenses SAD,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,9,15

In [14]:
cd ..

/Users/rafa/Desktop/Football/LigaNOS

In [15]:
### Now it's just save te output in a csv file
df_final.to_csv(r'./Results/Position_by_year.csv')